body {
  width: 1440px;
  font-family: "Cera Pro", sans-serif;
}

.container {
  padding: 0 15px;
  width: 1200px;
  margin: 0 auto;
}

body {
  margin: 0;
  width: 100%;
}

a {
  color: black;
}