.catalog__container {
  max-width: 840px;
  //height: 1244px;
  @media screen and (max-width: 999px) {
    margin-right: 90px;
  }

  @media screen and (max-width: 750px) {
    margin-left: 30%;
  }
}

.catalog__sort {
  margin-bottom: 38px;

  color: #3D3D3D;

  font-size: 15px;
  font-weight: 400;
  line-height: 16px;

  @media screen and (max-width: 999px) {
    font-size: 20px;
  }

  @media screen and (max-width: 750px) {
    font-size: 28px;
  }
}



.catalog__sortBy img {
  margin-top: 1px;
}

.catalog__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 840px;
  height: 1190px;

  @media screen and (max-width: 999px) {
    width: 720px ;
  }

  @media screen and (max-width: 750px) {
    width: 750px;
  }

}

.catalog__img {
  max-width: 250px;
  max-height: 250px;

  margin: 0 auto 31px auto;

  @media screen and (max-width: 750px) {
    max-width: 295px;
    max-height: 323px;
    
  }
}

.catalog__img4 {
  @media screen and (max-width: 750px) {
    max-width: 250px;
  }
}

.catalog__title {
  margin-bottom: 6px;

  color: #3D3D3D;

  font-size: 16px;
  font-weight: 400;
  line-height: 16px;

  @media screen and (max-width: 750px) {
    font-size: 33px;
    line-height: 28px;
  }
}

.catalog__price {
  color: #46A358;

  font-size: 18px;
  font-weight: 700;
  line-height: 16px;

  @media screen and (max-width: 750px) {
    font-size: 30px;
    line-height: 35px;
  }
}

.catalog__item {
  display: block;

  width: 254px;
  height: 319px;

  @media screen and (max-width: 750px) {
    background-color: #FBFBFB;
    display: flex;
    flex-direction: column;
    padding-top: 31px;
    height: 420px;
    width: 302px;
  }
}

.catalog__item:hover {
  border-top: 1px solid #46A358;
}

.catalag__item_cut {
  @media screen and (max-width: 999px) {
    display: none;
  }
}