.header {
  display: flex;
  justify-content: space-between;

  min-height: 53px;
  margin-top: 26px;
  max-width: 1200px;
  width: 100%;
}

.container {
  border-bottom: 0.3px solid $medium-green;
}

.header__top-row {
  display: flex;
  justify-content: space-between;
  
}

.header__nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;

  column-gap: 50px;
}

.nav__item {
  color: #3D3D3D;

  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;

  &_active{
  color: #3D3D3D;

  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  }
}

.header__right {
  display: flex;

  column-gap: 35px;
}

.header__cart {
  display: flex;
  align-items: center;
}

.header__button {
  display: flex;
  justify-content: center;

  width: 100px;
  height: 35px;
  padding: 8px 0px 7px 0px;

  cursor: pointer;

  color: #FFF;
  border-radius: 6px;
  background-color: #46A358;

  font-size: 16px;
  font-weight: 500;

  gap: 4px;
}

.header__logout {
  margin-top: 2px;
}

// .header__logout {
//   display: flex;
//   width: 20px;
//   height: 20px;
//   padding: 2.292px 1.84px 2.292px 1.882px;
//   justify-content: center;
//   align-items: center;
//   flex-shrink: 0;
// }