.slider {
  position: relative;
  width: 1200px;
  height: 450px;
  margin: 12px auto 0 auto;
  overflow: hidden;
}
.slider-slides {
  position: relative;
    width: 1200px;
    height: 100%;
}
.slider-slide {
  height: 100%;
  width: 100%;
}
