/* Reset and base styles  */

* {
  margin: 0px;
  padding: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font: inherit;
  background: transparent;
  color: inherit;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  background: transparent;
  display: inline-block;
  cursor: pointer;
  background: none;
  box-shadow: none;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  width: 1440px;
  font-family: "Cera Pro", sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  width: 100%;
  margin: 0;
}

a {
  color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  min-height: 53px;
  margin-top: 26px;
}

.container {
  border-bottom: 0.3px solid rgba(70, 163, 88, 0.4980392157);
}

.header__top-row {
  display: flex;
  justify-content: space-between;
}

.header__nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  column-gap: 50px;
}

.nav__item {
  color: #3D3D3D;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}

.nav__item_active {
  color: #3D3D3D;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
}

.header__right {
  display: flex;
  column-gap: 35px;
}

.header__cart {
  display: flex;
  align-items: center;
}

.header__button {
  background: #46A358;
  display: flex;
  justify-content: center;
  width: 100px;
  height: 35px;
  padding: 8px 0px 7px 0px;
  cursor: pointer;
  color: #FFF;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  gap: 4px;
}

.header__logout {
  margin-top: 2px;
}

.slider {
  position: relative;
  overflow: hidden;
  width: 1200px;
  height: 450px;
  margin: 12px auto 0 auto;
}

.slider-slides {
  position: relative;
  width: 1200px;
  height: 100%;
}

.slider-slide {
  width: 100%;
  height: 100%;
}

.blog {
  margin-top: 200px;
}

.blog__container {
  max-width: 1202px;
  margin: 0px auto 0px auto;
}

.blog__title {
  margin-bottom: 15px;
  text-align: center;
  color: #3D3D3D;
  font-size: 30px;
  font-weight: 700;
  line-height: 16px;
}

.blog__subtitle {
  margin-bottom: 35px;
  text-align: center;
  color: #727272;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.blog__row {
  display: flex;
  justify-content: space-between;
}

.blog__column {
  background: #FBFBFB;
}

.item-blog__icon {
  margin-bottom: 8.83px;
}

.item-blog__arrow {
  margin-left: 3px;
}

.item-blog__date {
  margin-bottom: 4px;
  color: #46A358;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.item-blog__title {
  width: 189px;
  margin-bottom: 4px;
  color: #3D3D3D;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}

.item-blog__subtitle {
  width: 242px;
  margin-bottom: 9px;
  color: #727272;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.item-blog__read {
  display: flex;
  align-items: center;
  transition: 0.2s ease-in;
  color: #3D3D3D;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.item-blog__read:hover {
  color: #46A358;
}

.item-blog__read a {
  display: flex;
  align-items: center;
  transition: 0.2s ease-in;
}

.item-blog__read a:hover {
  color: #46A358;
}

.footer {
  margin-top: 107px;
}

.footer__container {
  width: 1200px;
  margin: 0 auto;
}

.footer__top {
  background: rgba(70, 163, 88, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  height: 87.62px;
  margin: 0 auto 0 auto;
}

.footer__top-cut {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 933px;
  margin-left: 27px;
}

.footer__address {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.footer__adress-text {
  width: 170px;
  height: 36.81px;
  color: #3D3D3D;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.footer__mail {
  display: flex;
  color: #3D3D3D;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  column-gap: 10px;
}

.footer__number {
  display: flex;
  color: #3D3D3D;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  column-gap: 8px;
}

.footer__main {
  background: #FBFBFB;
  width: 1200px;
  height: 236px;
  margin: 0 auto;
  border-bottom: 0.3px solid rgba(70, 163, 88, 0.2);
}

.footer__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 32px 155px 0 23px;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  width: 625px;
  height: 174px;
}

.footer-nav__list li {
  margin-bottom: 18px;
}

.footer__title {
  margin-bottom: 17px;
  color: #3D3D3D;
  font-size: 18px;
  font-weight: 700;
}

.footer__text {
  color: #3D3D3D;
  font-size: 14px;
  font-weight: 400;
  line-height: 12px;
}

.footer__right {
  display: flex;
  flex-direction: column;
}

.footer__media {
  margin-bottom: 32px;
}

.footer__social {
  display: flex;
  justify-content: space-between;
  width: 190px;
}

.footer__button {
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: white;
  border: 1px solid rgba(70, 163, 88, 0.2);
  border-radius: 4px;
  outline: none;
}

.footer__copyright {
  height: 50px;
  padding-top: 5px;
}

.footer__copyright span {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3D3D3D;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  /* 214.286% */
}

.footer__copyright span {
  text-align: center;
  color: #3D3D3D;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  /* 214.286% */
}

.products {
  width: 1200px;
  margin: 46px auto 0 auto;
}

.products__container {
  display: flex;
  justify-content: space-between;
}

.categories {
  position: relative;
  display: flex;
  width: 310px;
  height: 1244px;
  background: #FBFBFB;
}

.categories__container {
  width: 100%;
  height: 100%;
  padding: 14px 24px 0px 18px;
}

.categories__block {
  display: flex;
  flex-direction: column;
  width: 268px;
  margin-bottom: 36px;
}

.categories__content {
  display: flex;
  justify-content: space-between;
  padding-left: 18px;
}

.categories__leftColumn {
  display: flex;
  width: 101px;
  height: 100%;
}

.categories__rightColumn {
  height: 100%;
}

.categories__leftColumn li {
  color: #3D3D3D;
  font-size: 15px;
  font-weight: 400;
  line-height: 40px;
}

.categories__size {
  height: 143px;
}

.categories__text {
  color: #3D3D3D;
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
}

.categories__rightColumn li {
  color: #3D3D3D;
  font-size: 15px;
  font-weight: 400;
  line-height: 40px;
}

.categories__slider {
  width: 209px;
  height: 4px;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  opacity: 0.7;
  border-radius: 12px;
  outline: none;
  background: linear-gradient(90deg, #46A358 60%, #FBFBFB 60%);
  -webkit-appearance: none;
}

.categories__slider:hover {
  opacity: 1;
}

.categories__slider::-webkit-slider-thumb {
  width: 17px;
  height: 17px;
  cursor: pointer;
  border-radius: 50%;
  background: #46A358;
  -webkit-appearance: none;
  appearance: none;
}

.categories__slider::-moz-range-thumb {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  background: white;
}

.categories__button {
  background: #46A358;
  width: 90px;
  height: 35px;
  padding: 10px 12px;
  padding: 8px 0px 7px 0px;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 6px;
  outline: none;
}

.categories__price {
  margin-bottom: 46px;
}

.categories__range {
  margin-bottom: 15px;
  color: #3D3D3D;
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
  /* 88.889% */
}

.categories__price-text {
  margin-top: 21px;
  margin-bottom: 16px;
  color: #3D3D3D;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  /* 106.667% */
}

.categories__price-text span {
  color: #46A358;
  font-size: 15px;
  font-weight: 700;
  line-height: 16px;
}

.categories__contentSize {
  display: flex;
  justify-content: space-between;
  width: 268px;
  height: 143px;
  padding-left: 18px;
}

.categories__banner {
  position: absolute;
  bottom: 0;
  width: 310px;
  height: 470px;
}

.categories__banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.catalog__container {
  width: 840px;
  height: 1244px;
}

.catalog__sort {
  margin-bottom: 38px;
  color: #3D3D3D;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
}

.catalog__sortBy img {
  margin-top: 1px;
}

.catalog__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 840px;
  height: 1190px;
}

.catalog__img {
  max-width: 250px;
  max-height: 250px;
  margin: 0 auto 31px auto;
}

.catalog__title {
  margin-bottom: 6px;
  color: #3D3D3D;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

.catalog__price {
  color: #46A358;
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
}

.catalog__item {
  display: block;
  width: 254px;
  height: 319px;
}

.catalog__item:hover {
  border-top: 1px solid #46A358;
}

.pages {
  width: 1200px;
  margin: 90px auto 0 auto;
}

.pages__container {
  display: flex;
  float: right;
  width: 215px;
  height: 35px;
  gap: 10px;
}

.pages__button {
  width: 35px;
  height: 35px;
  padding: 9px 13px 11px 13px;
  cursor: pointer;
  color: #3D3D3D;
  border: 1px solid #E5E5E5;
  border-radius: 6px;
  outline: none;
  font-size: 18px;
  font-weight: 300;
  line-height: 16px;
  /* 88.889% */
}

.pages__button img {
  margin-top: 3px;
}

.pages__button_active {
  background: #46A358;
  color: white;
}